@import "./base/reset";
@import "./utilits/breakpoints";
@import "./utilits/mixins";
@import "./utilits/variables";
@import "./base/common";
@import "./components/br";
@import "./components/containers";
@import "./components/loader";
@import "./components/logo";
@import "./components/burger";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/choose";
@import "./layout/slider";
@import "./layout/gallery";
@import "./layout/rent";
@import "./layout/reviews";
@import "./layout/footer";