@import "./base/reset";
@import "./utilits/breakpoints";
@import "./utilits/mixins";
@import "./utilits/variables";
@import "./base/common";
@import "./components/br";
@import "./components/containers";
@import "./components/spiner";
@import "./components/logo";
@import "./components/burger";
@import "./layout/01-header";
@import "./layout/02-hero";
@import "./layout/03-choose";
@import "./layout/04-slider";
@import "./layout/05-gallery";
@import "./layout/06-rent";
@import "./layout/07-reviews";
@import "./layout/08-footer";