//? ==============  var-02.map-get (break-points) ==============
$break-points: (
    mobile: 375px,
    tablet: 768px,
    desktop: 1280px,
);

//? ======== var-03.map-get --> getBreakPoint  (break-points) ========
@function getBreakPoint($key) {
    @return map-get($break-points, $key);
}