@mixin multi-transition($properties, $duration: 500ms, $timing-function: cubic-bezier(0.4, 0, 0.2, 1), $delay: 0s) {
    $transitions: (
    );

@if type-of($properties)=="list" {
    @each $prop in $properties {
        $transitions: append($transitions, #{$prop} $duration $timing-function $delay, comma);
    }
}

@else {
    $transitions: #{$properties} $duration $timing-function $delay;
}

transition: $transitions;
}

// @mixin button($w, $h, $f: 16px, $r: 5px) {
//     border-radius: $r;
//     width: $w;
//     height: $h;
//     background: get-var(main__second);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 500;
//     text-align: center;
//     font-size: $f;
//     color: get-var(light__first);
//     cursor: pointer;
//     @include multi-transition((transform, color, background-color));

//     &:hover {
//         color: get-var(dark__first);
//         border: 2px solid black;
//         background: get-var(light__first);

//         @media screen and (min-width: 575px) {
//             transform: scale(1.12);
//         }
//     }
// }