@use "sass:string";

$family: "DM Sans";

$main: (
    first: #1F212D,
    second: #93ABAE,
);

$dark: (
    first: #11131F,
);

$light: (
    first: #BEC7C2,
    second: #A1B5BA,
    third: #F6F5EF,
);

$var-maps: (
  "main": $main,
  "dark": $dark,
  "light": $light,
);

@function get-var($variable-name) {
  $parts: string.split($variable-name, '__');
  $prefix: nth($parts, 1);
  $key: nth($parts, 2);

  @if not map-has-key($var-maps, $prefix) {
    @error "Невідомий префікс '#{$prefix}' для змінної '#{$variable-name}'. Допустимі префікси: #{map-keys($var-maps)}.";
  }

  $target-map: map-get($var-maps, $prefix);

  @if not map-has-key($target-map, $key) {
    @error "Ключ '#{$key}' не знайдено в мапі '#{$prefix}'.";
  }

  @return map-get($target-map, $key);
}