<section class="footer">
    <div class="container">
        <div class="footer__circle">
            <svg class="footer__circle__svg">
                <use href="./images/ellipse-7268.svg"></use>
            </svg>
        </div>
        <div class="footer__line"></div>
        <div class="logo">
            <a class="logo__link" href="#">
                <svg class="logo__svg">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <svg class="logo__svg2">
                    <use href="./images/sprite.svg#icon-logo2"></use>
                </svg>
            </a>
        </div>
        <ul class="footer-list">
            <li class="footer-list__item"><a class="footer-list__link" href="#">About</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="#">Yachts</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="#">Reviews</a></li>
        </ul>
        <div class="footer-social-content">
            <h3 class="footer-social-content__title">We in social</h3>
            <ul class="footer-social-list">
                <li class="footer-social-list__item"><a class="footer-social-list__link" href="#">
                        <svg class="footer-social-list__svg facebook">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a></li>
                <li class="footer-social-list__item"><a class="footer-social-list__link" href="#">
                        <svg class="footer-social-list__svg instagram">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a></li>
                <li class="footer-social-list__item"><a class="footer-social-list__link" href="#">
                        <svg class="footer-social-list__svg youtube">
                            <use href="./images/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
        <ul class="footer-copyright-list">
            <li class="footer-copyright-list__item">2023. Yacht Adventures</li>
            <li class="footer-copyright-list__item"><a class="footer-copyright-list__link" href="#">Privacy Police</a>
            </li>
        </ul>
    </div>
</section>