<section class="footer">
    <div class="footer__circle"></div>
    <div class="container">
        <div class="logo"></div>
        <ul class="footer-list">
            <li class="footer-list__item"><a class="footer-list__link" href="#">About</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="#">Yachts</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="#">Reviews</a></li>
        </ul>
        <ul class="footer-social-list">
            <li class="footer-social-list__item"><a class="footer-social-list__link" href="#"></a></li>
            <li class="footer-social-list__item"><a class="footer-social-list__link" href="#"></a></li>
            <li class="footer-social-list__item"><a class="footer-social-list__link" href="#"></a></li>
        </ul>
        <ul class="footer-copyright-list">
            <li class="footer-copyright-list__item">2023. Yacht Adventures</li>
            <li class="footer-copyright-list__item"><a class="footer-copyright-list__link" href="#">Privacy Police</a></li>
        </ul>
    </div>
</section>