<section class="gallery">
    <div class="gallery__circle"></div>
    <div class="container">
        <ul class="gallery-list">
            <li class="gallery-list__item">
                <div class="gallery-list__picture gallery-list__picture--1">
                    <picture>
                        <source srcset="./images/img-diving-desktop.webp     1x,
                                ./images/img-diving-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-diving-tablet.webp    1x,
                                ./images/img-diving-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <source srcset="./images/img-diving.webp   1x, 
                                ./images/img-diving@2x.webp   2x" media="(min-width: 375px)">
                        <img src="./images/img-diving.webp" alt="Diving">
                    </picture>
                    <div class="gallery-list__name gallery-list__name--1">Diving</div>
                </div>
            </li>
            <li class="gallery-list__item">
                <div class="gallery-list__picture gallery-list__picture--2">
                    <picture>
                        <source srcset="./images/img-fishing-desktop.webp    1x,
                                ./images/img-fishing-desktop@2x.webp   2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-fishing-tablet.webp    1x,
                                ./images/img-fishing-tablet@2x.webp    2x" media="(min-width: 768px)">
                        <source srcset="./images/img-fishing.webp   1x, 
                                ./images/img-fishing@2x.webp   2x" media="(min-width: 375px)">
                        <img src="./images/img-fishing.webp" alt="Fishing">
                    </picture>
                    <div class="gallery-list__name gallery-list__name--2">Fishing</div>
                </div>
            </li>
            <li class="gallery-list__item">
                <div class="gallery-list__picture gallery-list__picture--3">
                    <picture>
                        <source srcset="./images/img-sunbathing-desktop.webp    1x,
                                ./images/img-sunbathing-desktop@2x.webp   2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-sunbathing-tablet.webp    1x,
                                ./images/img-sunbathing-tablet@2x.webp    2x" media="(min-width: 768px)">
                        <source srcset="./images/img-sunbathing.webp   1x, 
                                ./images/img-sunbathing@2x.webp   2x" media="(min-width: 375px)">
                        <img src="./images/img-sunbathing.webp" alt="Sunbathing">
                    </picture>
                    <div class="gallery-list__name gallery-list__name--3">Sunbathing</div>
                </div>
            </li>
        </ul>
    </div>
</section>