<section class="gallery">
    <div class="gallery__circle"></div>
    <div class="container">
        <ul class="gallery-list">
            <li class="gallery-list__item">
                <!-- <picture>
                    <source srcset="./images/#   1x, 
                                ./images/#   2x" media="(min-width: 1280px)">
                    <source srcset="./images/#    1x,
                                ./images/#    2x" media="(min-width: 768px)">
                    <source srcset="./images/#    1x,
                                ./images/#   2x" media="(min-width: 375px)">
                    <img src="./images/#" alt="Diving">
                </picture> -->
                <div class="gallery-list__name">Diving</div>
            </li>
            <li class="gallery-list__item">
                <!-- <picture>
                    <source srcset="./images/#   1x, 
                                ./images/#   2x" media="(min-width: 1280px)">
                    <source srcset="./images/#    1x,
                                ./images/#    2x" media="(min-width: 768px)">
                    <source srcset="./images/#    1x,
                                ./images/#   2x" media="(min-width: 375px)">
                    <img src="./images/#" alt="Fishing">
                </picture> -->
                <div class="gallery-list__name">Fishing</div>
            </li>
            <li class="gallery-list__item">
                <!-- <picture>
                    <source srcset="./images/#   1x, 
                                ./images/#   2x" media="(min-width: 1280px)">
                    <source srcset="./images/#    1x,
                                ./images/#    2x" media="(min-width: 768px)">
                    <source srcset="./images/#    1x,
                                ./images/#   2x" media="(min-width: 375px)">
                    <img src="./images/#" alt="Sunbathing">
                </picture> -->
                <div class="gallery-list__name">Sunbathing</div>
            </li>
        </ul>
    </div>
</section>