<section class="rent">
    <div class="rent__circle"></div>
    <div class="container">
        <div class="rent__title-content">
            <h2 class="rent__title">Rent a yacht now</h2>
            <!-- <picture>
                <source srcset="./images/#   1x, 
                            ./images/#   2x" media="(min-width: 1280px)">
                <source srcset="./images/#    1x,
                            ./images/#    2x" media="(min-width: 768px)">
                <source srcset="./images/#    1x,
                            ./images/#   2x" media="(min-width: 375px)">
                <img src="./images/#" alt="Yacht">
            </picture> -->
        </div>
        <form class="rent-form">
            <label class="rent-form__label">
                Full Name
                <input class="rent-form__input" type="text" name="full-name">
            </label>
            <label class="rent-form__label">
                Email
                <input class="rent-form__input" type="email" name="email">
            </label>
            <label class="rent-form__label">
                Phone number
                <input class="rent-form__input" type="tel" name="phone-number">
            </label>
            <label class="rent-form__label">
                Comment
                <textarea class="rent-form__textarea" name="comment" rows="4"></textarea>
            </label>

            <button type="submit" class="rent-form__button">
                Send
            </button>
        </form>
    </div>
</section>