<section class="yachts">
    <div class="yachts__inner container">

        <div class="yachts__header">
            <h2 class="yachts__title">Yachts</h2>

            <div class="yachts__controls">
                <button class="slider-btn slider-btn--prev" type="button" aria-label="Previous">‹</button>
                <button class="slider-btn slider-btn--next" type="button" aria-label="Next">›</button>
            </div>
        </div>


        <div class="slider">
            <ul class="slider__track">

                <!-- 1 -->
                <li class="slider__slide">
                    <article class="yacht-card">

                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/arrow-desktop@1x.jpg 1x, ./images/yachts/arrow-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/arrow-tablet@1x.jpg 1x, ./images/yachts/arrow-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/arrow-mobile@1x.jpg 1x, ./images/yachts/arrow-mobile@2x.jpg 2x">
                            <img src="./images/yachts/arrow-mobile@1x.jpg" alt="Arrow yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Arrow</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>48m</dd>
                                </div>
                                <div>
                                    <dt>Builder</dt>
                                    <dd>Admiral</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2023</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>10 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€350,000</div>
                        </div>

                    </article>
                </li>

                <!-- 2 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/benedetta-desktop@1x.jpg 1x, ./images/yachts/benedetta-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/benedetta-tablet@1x.jpg 1x, ./images/yachts/benedetta-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/benedetta-mobile@1x.jpg 1x, ./images/yachts/benedetta-mobile@2x.jpg 2x">
                            <img src="./images/yachts/benedetta-mobile@1x.jpg" alt="Benedetta yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Benedetta</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>40m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2022</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>10 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€320,000</div>
                        </div>
                    </article>
                </li>

                <!-- 3 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/belle-desktop@1x.jpg 1x, ./images/yachts/belle-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/belle-tablet@1x.jpg 1x, ./images/yachts/belle-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/belle-mobile@1x.jpg 1x, ./images/yachts/belle-mobile@2x.jpg 2x">
                            <img src="./images/yachts/belle-mobile@1x.jpg" alt="Belle Anna yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Belle Anna</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>50m</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>12 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€420,000</div>
                        </div>
                    </article>
                </li>

                <!-- 4 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/ellen-desktop@1x.jpg 1x, ./images/yachts/ellen-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/ellen-tablet@1x.jpg 1x, ./images/yachts/ellen-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/ellen-mobile@1x.jpg 1x, ./images/yachts/ellen-mobile@2x.jpg 2x">
                            <img src="./images/yachts/ellen-mobile@1x.jpg" alt="Ellen yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Ellen</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>25m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2017</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>6 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€150,000</div>
                        </div>
                    </article>
                </li>

                <!-- 5 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/mirage-desktop@1x.jpg 1x, ./images/yachts/mirage-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/mirage-tablet@1x.jpg 1x, ./images/yachts/mirage-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/mirage-mobile@1x.jpg 1x, ./images/yachts/mirage-mobile@2x.jpg 2x">
                            <img src="./images/yachts/mirage-mobile@1x.jpg" alt="Mirage yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Mirage 401</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>35m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2019</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>8 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€275,000</div>
                        </div>
                    </article>
                </li>

                <!-- 6 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/king-desktop@1x.jpg 1x, ./images/yachts/king-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/king-tablet@1x.jpg 1x, ./images/yachts/king-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/king-mobile@1x.jpg 1x, ./images/yachts/king-mobile@2x.jpg 2x">
                            <img src="./images/yachts/king-mobile@1x.jpg" alt="King yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">King</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>33m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2020</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>8 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€250,000</div>
                        </div>
                    </article>
                </li>

                <!-- 7 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/salt-desktop@1x.jpg 1x, ./images/yachts/salt-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/salt-tablet@1x.jpg 1x, ./images/yachts/salt-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/salt-mobile@1x.jpg 1x, ./images/yachts/salt-mobile@2x.jpg 2x">
                            <img src="./images/yachts/salt-mobile@1x.jpg" alt="Salt yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Salt</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>32m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2018</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>10 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€225,000</div>
                        </div>
                    </article>
                </li>

                <!-- 8 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/storm-desktop@1x.jpg 1x, ./images/yachts/storm-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/storm-tablet@1x.jpg 1x, ./images/yachts/storm-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/storm-mobile@1x.jpg 1x, ./images/yachts/storm-mobile@2x.jpg 2x">
                            <img src="./images/yachts/storm-mobile@1x.jpg" alt="Storm yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Storm</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>32m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2016</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>10 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€210,000</div>
                        </div>
                    </article>
                </li>

                <!-- 9 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yachts/collu-desktop@1x.jpg 1x, ./images/yachts/collu-desktop@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yachts/collu-tablet@1x.jpg 1x, ./images/yachts/collu-tablet@2x.jpg 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yachts/collu-mobile@1x.jpg 1x, ./images/yachts/collu-mobile@2x.jpg 2x">
                            <img src="./images/yachts/collu-mobile@1x.jpg" alt="Collu yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__top">
                                <h3 class="yacht-card__name">Collu</h3>
                                <span class="yacht-card__category">Luxury Yachts</span>
                            </div>

                            <dl class="yacht-card__specs">
                                <div>
                                    <dt>Length</dt>
                                    <dd>29m</dd>
                                </div>
                                <div>
                                    <dt>Built</dt>
                                    <dd>2014</dd>
                                </div>
                                <div>
                                    <dt>Guests</dt>
                                    <dd>8 cabins</dd>
                                </div>
                            </dl>

                            <div class="yacht-card__price">€195,000</div>
                        </div>
                    </article>
                </li>

            </ul>
        </div>

    </div>
</section>