<section class="yachts" id="yachts">
    <div class="yachts__inner container">

        <div class="yachts__header">

            <div class="yachts__controls">
                <button class="slider-btn slider-btn--prev" type="button" aria-label="Previous"></button>
                <button class="slider-btn slider-btn--next" type="button" aria-label="Next"></button>
            </div>
        </div>


        <div class="slider">
            <ul class="slider__track">

                <!-- 1 -->
                <li class="slider__slide">
                    <article class="yacht-card">

                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-01-desktop.webp 1x, ./images/yacht-01-desktop@2x.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-01-tablet.webp 1x, ./images/yacht-01-tablet@2x.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-01-mobile.webp, ./images/yacht-01-mobile@2x.webp 2x">
                            <img src="../images/yacht-01-mobile.webp" alt="Arrow yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">ARROW</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">48m (155ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILDER</p>
                                <p class="yacht-card__value">Admiral</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2021</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">11 in 5 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€33,500,000</p>
                            </div>
                        </div>

                    </article>
                </li>

                <!-- 2 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-02-desktop.webp 1x, ./images/yacht-02-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-02-desktop.webp 1x, ./images/yacht-02-desktop.webp">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-02-desktop.webp 1x, ./images/yacht-02-desktop.webp">
                            <img src="./images/yacht-02-desktop.webp" alt="Benedetta yacht">
                        </picture>

                        <div class="yacht-card__header">
                            <p class="yacht-card__name">BENETTI OASIS 40M</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">41m (133ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">Benetti</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2025</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">10 in 5 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€23,210,000</p>
                            </div>
                        </div>

                    </article>
                </li>

                <!-- 3 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-03-desktop.webp 1x, ./images/yacht-03-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-03-desktop.webp, ./images/yacht-03-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-03-desktop.webp, ./images/yacht-03-desktop.webp 2x">
                            <img src="./images/yacht-03-desktop.webp" alt="Belle Anna yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">BELLE ANNA</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">50m (155ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">ISA</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2012</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">12 in 6 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€21,000,000</p>
                            </div>
                        </div>
                    </article>
                </li>

                <!-- 4 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-04-desktop.webp, ./images/yacht-04-desktop.webp">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-04-desktop.webp 1x, ./images/yacht-04-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-04-desktop.webp, ./images/yacht-04-desktop.webp 2x">
                            <img src="./images/yacht-04-desktop.webp" alt="Ellen yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">ELLEN</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">40m (132ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">Perini Navi</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2001 / 2016 (refitted)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">9 in 4 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€9,300,000</p>
                            </div>
                        </div>
                    </article>
                </li>

                <!-- 5 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-05-desktop.webp, ./images/yacht-05-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-05-desktop.webp, ./images/yacht-05-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-05-desktop.webp, ./images/yacht-05-desktop.webp 2x">
                            <img src="./images/yacht-05-desktop.webp" alt="Mirage yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">MIRAGE 401</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">38m (125ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">Gianetti Custom Yachts</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2024</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">10 in 5 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€13,500,000</p>
                            </div>
                        </div>
                    </article>
                </li>

                <!-- 6 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-06-desktop.webp, ./images/yacht-06-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-06-desktop.webp 1x, ./images/yacht-06-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-06-desktop.webp, ./images/yacht-06-desktop.webp 2x">
                            <img src="./images/yacht-06-desktop.webp" alt="King yacht">
                        </picture>

                        <div class="yacht-card__body">
                            <div class="yacht-card__header">
                                <p class="yacht-card__name">KING</p>
                                <p class="yacht-card__category">LUXURY YACHTS</p>
                            </div>

                            <div class="yacht-card__info">
                                <div class="yacht-card__row">
                                    <p class="yacht-card__label">LENGTH</p>
                                    <p class="yacht-card__value">33m (109ft)</p>
                                </div>

                                <div class="yacht-card__row">
                                    <p class="yacht-card__label">SHIPYARD</p>
                                    <p class="yacht-card__value">Overmarine</p>
                                </div>

                                <div class="yacht-card__row">
                                    <p class="yacht-card__label">BUILT</p>
                                    <p class="yacht-card__value">2004 / 2018 (refitted)</p>
                                </div>

                                <div class="yacht-card__row">
                                    <p class="yacht-card__label">GUESTS</p>
                                    <p class="yacht-card__value">9 in 4 cabins</p>
                                </div>

                                <div class="yacht-card__row yacht-card__row--price">
                                    <p class="yacht-card__label">PRICE</p>
                                    <p class="yacht-card__value yacht-card__price">€1,850,000</p>
                                </div>
                            </div>
                    </article>
                </li>

                <!-- 7 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-07-desktop.webp 1x, ./images/yacht-07-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-07-desktop.webp 1x, ./images/yacht-07-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-07-desktop.webp 1x, ./images/yacht-07-desktop.webp 2x">
                            <img src="./images/yacht-07-desktop.webp" alt="Salt yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">SALT</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">32m (105ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILDER</p>
                                <p class="yacht-card__value">SanLorenzo</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2019</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">11 in 5 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€7,800,000</p>
                            </div>
                        </div>
                    </article>
                </li>

                <!-- 8 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-08-desktop.webp 1x, ./images/yacht-08-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-08-desktop.webp 1x,./images/yacht-08-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-08-desktop.webp 1x, ./images/yacht-08-desktop.webp 2x">
                            <img src="./images/yacht-08-desktop.webp" alt="Storm yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">STORM</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">32m (103ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">Overmarine</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2005 / 2022 (refitted)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">9 in 4 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">€2,900,000</p>
                            </div>
                        </div>
                    </article>
                </li>

                <!-- 9 -->
                <li class="slider__slide">
                    <article class="yacht-card">
                        <picture class="yacht-card__image">
                            <source media="(min-width:1200px)"
                                srcset="./images/yacht-09-desktop.webp 1x, ./images/yacht-09-desktop.webp 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/yacht-09-desktop.webp 1x, ./images/yacht-09-desktop.webp 2x">
                            <source media="(max-width:767px)"
                                srcset="./images/yacht-09-desktop.webp, ./images/yacht-09-desktop.webp 2x">
                            <img src="./images/yacht-09-desktop.webp" alt="Collu yacht">
                        </picture>
                        <div class="yacht-card__header">
                            <p class="yacht-card__name">COLLU</p>
                            <p class="yacht-card__category">LUXURY YACHTS</p>
                        </div>

                        <div class="yacht-card__info">
                            <div class="yacht-card__row">
                                <p class="yacht-card__label">LENGTH</p>
                                <p class="yacht-card__value">29m (96ft)</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">SHIPYARD</p>
                                <p class="yacht-card__value">Ferretti</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">BUILT</p>
                                <p class="yacht-card__value">2014</p>
                            </div>

                            <div class="yacht-card__row">
                                <p class="yacht-card__label">GUESTS</p>
                                <p class="yacht-card__value">10 in 5 cabins</p>
                            </div>

                            <div class="yacht-card__row yacht-card__row--price">
                                <p class="yacht-card__label">PRICE</p>
                                <p class="yacht-card__value yacht-card__price">$4,300,000</p>
                            </div>
                        </div>
                    </article>
                </li>

            </ul>
        </div>

    </div>
</section>