.hero__actions {
    display: flex;
    gap: 10px;
}

.btn--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 14px 28px;
    width: 131px;
    height: 43px;
    background: get-var(main__second);
    font-family: $family;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: get-var(light__third);
}

.btn--outline {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid get-var(light__third);
    border-radius: 60px;
    padding: 14px 28px;
    width: 104px;
    height: 43px;
    font-family: $family;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: get-var(light__third);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s, border 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s, fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    ;
}

.btn--outline:hover {
    border: 1px solid get-var(main__second);
}