.container {
    width: 100%;
    min-width: 375px;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    outline: 1px solid tomato;
    
    //! Медіа-запити
    @media screen and (min-width: getBreakPoint(mobile)) {
        width: getBreakPoint(mobile);
        // outline: 1px solid green;
    }
    
    @media screen and (min-width: getBreakPoint(tablet)) {
        width: getBreakPoint(tablet);
        padding: 0 32px;
        // outline: 1px solid green;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
        width: getBreakPoint(desktop);
        // outline: 1px solid green;
    }
}
