/* ===== LOADER ===== */

.loader {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;
  overflow: hidden;
}

/* BACKGROUND */
.loader-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(145deg, #11131f, #1f212d, #93abae);
}

/* CONTENT */
.loader-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}

/* WHEEL */
.wheel {
  width: 145px;
  animation: spin 2s linear infinite;
}

/* TITLE */
.loader-title {
  color: #f6f5ef;
  font-size: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 6px #93abae99, 0 0 16px #bec7c255;
}

/* BOAT */
.boat {
  position: absolute;
  bottom: 55px;
  width: 270px;
  opacity: 0;
  transform: translateX(-200px) scale(0.95);

  filter: drop-shadow(0 4px 10px #11131f88) drop-shadow(0 0 8px #93abae33);
}

/* ANIMATION */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes sail {
  from {
    opacity: 1;
    transform: translateX(-200px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(120vw) translateY(-35px) scale(0.8);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

/* FINISH STATE */
.loader.finish .wheel {
  animation-play-state: paused;
}

.loader.finish .boat {
  opacity: 1;
  animation: sail 2.2s ease-in-out forwards;
}

.loader.finish .loader-content {
  animation: fade 2.3s forwards ease;
}

/* FINAL HIDE */
.loader.hide {
  display: none;
}
