.choose {

    .container {
        @media screen and (min-width: getBreakPoint(desktop)) {
            padding: 32px;
        }
    }

    /* ======================================
     TEXT BLOCK
  ====================================== */

    &__text {
        @media screen and (min-width: getBreakPoint(desktop)) {
            display: flex;
            gap: 302px;
            margin-bottom: 64px;
        }
    }

    &__item {
        display: flex;
        width: 155px;

        &:nth-child(2) {
            padding-left: 14px;
            width: 176px;
        }

        @media screen and (min-width: getBreakPoint(tablet)) {
            width: 180px;

            &:nth-child(2) {
                width: 200px;
            }
        }
    }

    /* ======================================
     INTRO TEXT
  ====================================== */

    &__intro {
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: white;
        padding-bottom: 40px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 32px;
            width: 500px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin: 0;
            width: 480px;
        }

        &--grey {
            background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (min-width: getBreakPoint(tablet)) {
                font-size: 32px;
            }
        }
    }

    /* ======================================
     FEATURES
  ====================================== */

    &__features {
        display: flex;
        gap: 14px;
        margin-bottom: 40px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            gap: 32px;
            margin-left: 304px;
            margin-bottom: 64px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin: 0;
            width: 400px;
        }
    }

    &__list {
        display: flex;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.02em;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 16px;
        }
    }

    /* ======================================
     GALLERY
  ====================================== */

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 38px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
            margin-bottom: 223px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            position: relative;
            flex-direction: column;
            align-items: center;
        }
    }

    &__image img {
        width: 100%;
    }

    &__image--large {
        @media screen and (min-width: getBreakPoint(desktop)) {
            width: 553px;
        }
    }

    &__image--middle {
        @media screen and (min-width: getBreakPoint(tablet)) {
            width: 308px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            position: absolute;
            top: 285px;
            left: 0;
        }
    }

    &__image--small {
        margin-left: 75px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            width: 260px;
            margin: 200px 0 0;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin: 0 292px 0 0;
        }
    }

    /* ======================================
     CTA
  ====================================== */

    &__cta {
        position: relative;

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin-left: 199px;
        }
    }

    &__title {
        position: absolute;
        left: 0;
        top: -153px;
        font-weight: 500;
        font-size: 36px;
        line-height: 110%;
        letter-spacing: -0.04em;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 70px;
            top: -282px;
            width: 620px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 100px;
            width: 882px;
            top: -372px;
        }
    }

    &__btn {
        width: 135px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            width: 156px;
            height: 48px;
            font-size: 18px;
            line-height: 110%;
        }
    }
}

// SVG CIRCLES

    .choose__circle__svg{
        width: 250px;
        height: 250px;
        z-index: 3;
        position: absolute;
        bottom: -1360px;
        left: -45px;



          @media screen and (min-width: getBreakPoint(tablet)) {
            width: 514px;
        height: 514px;
        z-index: 2;
        position: absolute;
        bottom: -1680px;
        left: -40px;
        }


         @media screen and (min-width: getBreakPoint(desktop)) {
        width: 674px;
        height: 674px;
        z-index: 2;
        position: absolute;
        bottom: -1080px;
        left: 130px;
        }
    }



    .choose__circle-dop__svg{
        width: 180px;
        height: 180px;
        z-index: 1;
        position: absolute;
        bottom: -1324px;
        left: 130px;



        @media screen and (min-width: getBreakPoint(tablet)) {
           width: 514px;
        height: 514px;
        z-index: 1;
        position: absolute;
        bottom: -1630px;
        left: 250px;
        }

         @media screen and (min-width: getBreakPoint(desktop)) {
         width: 574px;
        height: 574px;
        z-index: 3;
        position: absolute;
        bottom: -1040px;
        left: 580px;
        }
    }