.footer {
    padding-top: 40px;
    margin-bottom: 14px;

    @media screen and (min-width: getBreakPoint(tablet)) {
        padding-top: 64px;
        margin-bottom: 16px;
    }

    &__line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(246, 245, 239, 0.2);
        left: 0;
        top: -40px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            top: -64px;
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            flex-direction: row;
            gap: 0;
            flex-wrap: wrap;
            align-items: flex-start;
            row-gap: 100px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            row-gap: 132px;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        @media screen and (min-width: getBreakPoint(tablet)) {
            margin-right: 128px;
            gap: 8px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin-right: 314px;
        }

        &__svg {
            width: 18px;
            height: 18px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 23px;
                height: 23px;
            }
        }

        &__svg2 {
            width: 146px;
            height: 18px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 186px;
                height: 23px;
            }
        }
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            margin-right: 143px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin-right: 315px;
            flex-direction: row;
            gap: 24px;
        }

        &__link {
            font-weight: 700;
            font-size: 14px;
            line-height: 118%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: get-var(light__third);
        }
    }

    .footer-social-content {
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        .footer-social-list {
            display: flex;
            gap: 14px;

            &__item {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                border: 1px solid rgba(246, 245, 239, 0.5);
                @include multi-transition((border, fill));

                &:hover {
                    border: 1px solid #a1b5ba;
                }

                &:hover .footer-social-list__svg {
                    fill: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
                }
            }

            &__svg {
                fill: get-var(light__third);
            }

            &__svg.facebook {
                width: 8px;
                height: 15px;
            }

            &__svg.instagram {
                width: 14px;
                height: 14px;
            }

            &__svg.youtube {
                width: 14px;
                height: 14px;
            }
        }
    }

    .footer-copyright-list {
        display: flex;
        gap: 14px;
        justify-content: center;

        @media screen and (min-width: getBreakPoint(tablet)) {
            margin: 0 auto;
        }

        &__item {
            font-size: 12px;
            line-height: 118%;
            letter-spacing: 0.03em;
            color: rgba(246, 245, 239, 0.5);
        }

        &__link {
            color: rgba(246, 245, 239, 0.5);
        }
    }
}