.header {
    .container {
        padding: 0 16px;
    }

    &__inner {
        display: flex;
        align-items: center;
        min-height: 64px;

        @media screen and (min-width: getBreakPoint(desktop)) {
            min-height: 88px;
        }
    }

    &__divider {
        display: block;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    /* ======================
       LOGO
    ======================= */

   .logo {
        display: flex;
        align-items: center;
        height: 20px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            margin-right: 128px;
            gap: 8px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin-right: 314px;
        }

        &__svg {
            width: 18px;
            height: 18px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 23px;
                height: 23px;
            }
        }

        &__svg2 {
            width: 146px;
            height: 18px;

            @media screen and (min-width: getBreakPoint(tablet)) {
                width: 186px;
                height: 23px;
            }
        }
    }

    /* ======================
       NAVIGATION
    ======================= */

    .nav {
        margin-left: auto;

        @media screen and (max-width: calc(getBreakPoint(tablet) - 1px)) {
            display: none;
        }

        &__list {
            display: flex;
            gap: 40px;

            @media screen and (min-width: getBreakPoint(desktop)) {
                gap: 48px;
            }
        }

        &__link {
            font-size: 14px;
            letter-spacing: 0.12em;
            color: get-var(light__third);
            text-transform: uppercase;
            @include multi-transition(opacity);

            &:hover {
                opacity: 0.7;
            }
        }
    }

    /* ======================
       BURGER
    ======================= */

    .burger {
        margin-left: auto;
        box-sizing: border-box;
        width: 28px;
        height: 18px;
        padding: 0;
        background: transparent;
        border: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__menu{
            fill: aliceblue;
        }


        @media screen and (min-width: getBreakPoint(tablet)) {
            display: none;
        }
    }
}

/* ================================
   MOBILE MENU
================================ */

.mobile-menu {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: linear-gradient(180deg, #050812 0%, #0a0f1d 100%);

    &[hidden] {
        display: none;
    }

    &__top {
        padding: 24px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__close {
        width: 22px;
        height: 22px;
        padding: 0;
        background: transparent;
        border: 0;
        position: relative;

        span {
            width: 100%;
            height: 2px;
            background: get-var(light__third);
            position: absolute;
            inset: 50% 0;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__divider {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        display: block;
    }

    &__nav {
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }

    &__link {
        font-size: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: get-var(light__third);
        @include multi-transition(opacity);

        &:hover {
            opacity: 0.7;
        }
    }
}
