/* ================= HERO ================= */
.hero {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  &__title-dop {
    padding-left: 20px;
  }

  &__text {
    width: 330px;
    font-family: $family;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: get-var(light__third);
    padding-bottom: 16px;

    @media screen and (min-width: getBreakPoint(tablet)) {
      width: 550px;
      font-family: $family;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: get-var(light__third);
      padding-bottom: 32px;
    }
  }

  &__title {
    width: 305px;
    font-family: $family;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: get-var(light__third);
    padding-bottom: 10px;

    @media screen and (min-width: getBreakPoint(tablet)) {
      width: 615px;
      font-family: $family;
      font-weight: 500;
      font-size: 60px;
      line-height: 110%;
      letter-spacing: -0.04em;
      color: get-var(light__third);
      padding-bottom: 16px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      width: 496px;
    }
  }

  &__title-accent {
    background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #a1b5ba;

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-style: italic;
      background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: #a1b5ba;
    }
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;

  @media screen and (min-width: getBreakPoint(desktop)) {
    flex-direction: row-reverse;
    gap: 110px;
  }
}

/* ============== CONTENT ================= */
.hero__content {
  width: 335px;
  height: 301px;

  @media screen and (min-width: getBreakPoint(tablet)) {
    width: 704px;
    height: 294px;
  }

  @media screen and (min-width: getBreakPoint(desktop)) {
    width: 554px;
    height: 360px;
  }
}

/* ============== VISUAL ================== */
.hero__visual {
  position: relative;
}

/* ============== CARD ==================== */
.hero-card {
  position: relative;
  width: 335px;
  height: 427px;
  padding: 24px;
  border-radius: 24px;
  background-image: url("../images/ram.webp");
  background-size: 335px 427px;
  background-repeat: no-repeat;

  &__label {
    position: relative;
    top: 55px;
    font-family: $family;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: get-var(dark__first);

    @media screen and (min-width: getBreakPoint(tablet)) {
      top: 62px;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 18px;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5px;

    @media screen and (min-width: getBreakPoint(tablet)) {
      width: 349px;
      padding-top: 30px;
    }
  }

  &__price-value {
    font-family: $family;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: get-var(dark__first);

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-size: 60px;
    }
  }

  &__price-text {
    padding-top: 14px;
    font-family: $family;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: get-var(dark__first);

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-size: 18px;
    }
  }

  @media screen and (min-width: getBreakPoint(tablet)) {
    width: 426px;
    height: 596px;
    padding: 32px;
    background-image: url("../images/ram.webp");
    background-size: 426px 596px;
    background-repeat: no-repeat;
    margin-left: 0;
  }

  @media screen and (min-width: getBreakPoint(desktop)) {
    width: 426px;
    height: 598px;
    padding: 20px;
    background-image: url("../images/ram.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 22px;
  }
}

/* ============ CLIENTS =================== */
.hero-card__clients {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  padding-bottom: 125px;

  @media screen and (min-width: getBreakPoint(tablet)) {
    padding-bottom: 180px;
  }
}

.hero-card__avatars {
  display: flex;
  gap: 8px;
  position: relative;
}

.hero-card__avatar {
  width: 48px;
  height: 48px;
  position: absolute;

  &:nth-child(1) {
    left: 0;
    top: 0;
    z-index: 8;
  }

  &:nth-child(2) {
    left: 38px;
    top: 0;
    z-index: 7;
  }

  &:nth-child(3) {
    left: 78px;
    top: 0;
    z-index: 6;
  }

  @media screen and (min-width: getBreakPoint(tablet)) {
    width: 56px;
    height: 56px;

    &:nth-child(1) {
      left: 0;
      top: 0;
      z-index: 8;
    }

    &:nth-child(2) {
      left: 43px;
      top: 0;
      z-index: 7;
    }

    &:nth-child(3) {
      left: 88px;
      top: 0;
      z-index: 6;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ============ YACHT IN CARD ============= */
.hero-card__image {
  width: 100%;
  height: 167px;
  position: relative;
  animation: boat-sway 8.5s ease-in-out infinite;

  @media screen and (min-width: getBreakPoint(tablet)) {
    height: 221px;
  }
}

.hero-card__image-inner {
  width: 287px;
  height: 167px;
  background: url("../images/hero-boat-mobile.webp") center / contain no-repeat;
  will-change: transform;
  animation: boat-float 5s ease-in-out infinite;
  transform-origin: center bottom;

  @media screen and (min-width: getBreakPoint(tablet)) {
    width: 100%;
    height: 100%;
    background-image: url("../images/hero-boat-tablet.webp");
  }

  @media screen and (min-width: getBreakPoint(desktop)) {
    width: 378px;
    height: 221px;
    background-image: url("../images/hero-boat-tablet.webp");
  }
}

/* ============ FLOATING BOAT ============= */
.hero__boat-animated {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  width: 220px;
  height: 140px;
}

.hero-photo {
  position: absolute;
  left: 215px;
  top: 32px;
  width: 133px;
  height: 133px;
  background-image: url(../images/hero-person-mobile@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: getBreakPoint(tablet)) {
    left: 325px;
    top: 32px;
    width: 233px;
    height: 233px;
    background-image: url(../images/hero-person-tablet-desktop@2x.webp);
  }
}

/* ============ ANIMATIONS ================ */
// @keyframes card-boat-bob { ... }
// @keyframes big-boat-bob { ... }
// @keyframes boat-bob-smooth { ... }

@keyframes boat-float {
  0% { transform: translateY(10); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(10); }
}

@keyframes boat-sway {
  0% { transform: rotate(-8deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(-8deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-8deg); }
}

.hero-card__image-inner {
  background-image: url("../images/hero-boat-mobile.webp");
}

/* декоративний варіант */
.hero-card__image-inner.is-decor {
  background-image: url("../../images/yacht.webp");
  background-size: 300px;

  @media screen and (min-width: getBreakPoint(tablet)) {
    background-size: 380px;
  }
}

.hero-card__image-inner {
  transition: background-image 0.8s ease;
}
